@media screen and (min-width: 768px){
        
    .titulo{
            font-size: 1.5rem;
        }
        
       .cmap{
        width: 45%;
        margin: 0.5rem 1rem;
        display: inline-block;
       }
}


/* Estilo Escritorio */

@media screen and (min-width: 1350px){
    .logo{
        transition: all .5s;
    }

    nav {
        height: 100px;
    }

    .bar-btn{
        display: none;
    }

    .menu{
        width: 35%;
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .menu li a{
        font-size: 1rem;
        color: #000;
    }

    .titulo{
        font-size: 2.5rem;
    }
    .subTitulo{
        font-size: 1.5rem;
    }

   .slider-frame{
    display: none;
   }

   .containerSlider{
    width: 30%;
    align-items: center;
    justify-content: center;
   }

   .sliderSection{
    width: 22.5%;
   }

   .oferta{
    display: flex;
    width: 55%;
    justify-content: center;

}

.oferta  img{
    width: 60%;
}

.servicios h2{
    font-size: 2.5rem;
}

.serviz h3{
    font-size: 1.5rem;
}

.abrirP p{
    line-height: 2rem;
    font-size: 1.2rem;
}

   .formu{
    width: 90%;
    margin: 1rem auto;
    padding: 0.5 3rem;
    text-align: center;
   }

   .formularioContacto{
    display: inline-block;
    width: 45%;
    margin: 0.5rem 1rem;
   }

   .cmap{
    width: 30%;
   }

   .imgder{
    display: inline-block;
    width: 40%;
    text-align: center;
   }

   .imagega{
    width: 10%;
   }
   
   .imagega figcaption {
    left: 10%;
    top: 10%;
   }
   .imagega.fade:hover > img {
    opacity: 0;
    visibility: hidden;
  }
  
  .imagega.fade:hover > figcaption {
    opacity: 1;
    visibility: visible;
  }

  .aboutme section article h2{
    font-size: 2.5rem;
  }

  .aboutme p{
    line-height: 2.5rem;
    font-size: 1.5rem;
  }

}